.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  margin: 1rem;
  /* border: 1px solid grey; */
  background: #00a1ff17;
  border-radius: .5rem;
  padding: 1rem;
}

.Attributes {
  max-width: max-content;
  margin: 1rem auto;
}

.Attributes label {
  display: inline-block;
  font-weight: bold;
  margin-right: 1rem;
  width: 4rem;
  text-align: right;
}

.Bids .PriceRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 64em) {
  .Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: .5rem;
  }
  .Footer {
    flex-direction: column;
    justify-content: start;
  }
}